extends layout

//- block stylesheets
//-   link(href='/stylesheets/index.css', rel='stylesheet')

block content
  h1 Club Registration

  p Items marked with (*) are required

  form(action='/demo/clubs/new', method='post')
    div.form-group
      label.control-label(for='club-name-input') Club Name *
      div.input-group
        span.input-group-addon
          span.fa.fa-users
        input.form-control(type='text', name='name', id='club-name-input',
          placeholder='Name of your club', required='required')
    div.form-group
      label.control-label(for='school-input') School Affiliation *
      div.input-group
        span.input-group-addon
          span.fa.fa-university
        input.form-control(type='text', name='school', id='school-input',
          placeholder='School name, or type "Independent"', required='required')
    div.form-group
      label.control-label(for='creator-position-input') Your Club Position *
      div.input-group
        span.input-group-addon
          span.fa.fa-list-alt
        input.form-control(type='text', name='creator-position',
          placeholder='Your position within the club',
          id='creator-position-input', required='required')
    div.form-group
      label.control-label(for='email-input') Club Email Address
      div.input-group
        span.input-group-addon
          span.fa.fa-envelope
        input.form-control(type='email', name='email', id='email-input',
          placeholder='Email address for official club business')
    div.form-group
      label.control-label(for='phone-input') Club Phone Number
      div.input-group
        span.input-group-addon
          span.fa.fa-phone
        input.form-control(type='tel', name='phone', id='phone-input',
          placeholder='Phone number for official club business')
    div.form-group
      label.control-label(for='city-input') Club Location
      div.input-group
        span.input-group-addon
          span.fa.fa-map-marker
        input.form-control(type='text', name='city', id='city-input',
          placeholder='City')
      div.input-group
        span.input-group-addon
          span.fa.fa-map-marker
        input.form-control(type='text', name='state', placeholder='State')
    div.form-group
      label.control-label(for='website-input') Club Website
      div.input-group
        span.input-group-addon
          span.fa.fa-link
        input.form-control(type='url', name='website', id='website-input',
          placeholder='Web address for club information')
    button.btn.btn-default(type='submit') Register Club

//- block scripts
//-   script(src='/javascripts/index.js', type='text/javascript')
